<div class="kaltura-player" id="kaltura-player-{{ entryId }}"></div>
<script src="//cdnapisec.kaltura.com/p/{{ partnerId }}/sp/{{ partnerId }}00/embedIframeJs/uiconf_id/{{ uiConfId }}/partner_id/{{ partnerId }}"></script>
<script>kWidget.embed({
  'targetId': 'kaltura-player-{{ entryId }}',
  'wid': '_{{ partnerId }}',
  'uiconf_id': '{{ uiConfId }}',
  'entry_id': '{{ entryId }}'
})</script>